
@{
    ViewBag.Title = "InicioSesion";
}

@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" />
    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">

    <form id="frmIniciodeSesion">
        <!--Panel-->
        <div class="panel panel-primary"
             style=" text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 15px">

            <!--Encabezado Del Panel-->
            <div class="panel-heading">
                <div class="row" style="display: flex">
                    <div style="margin-left: 10px; margin-top: 10px">

                        <div style="margin-bottom: 10px; padding-left: 70px; padding-right: 40px">
                            <h2 class="auto-style1">Inicio de Sesion </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Encabezado Del Panel-->
            <!--Cuerpo Del Panel-->
            <div class="panel-body" style="background-color: cyan; color:black">

                <!-- Columnnas Del Panel-->
                <div class="row" style="display: flex">
                    <!-- Primera Columnna Del Panel-->
                    <div class="column" style="flex: 50%; padding: 10px;">


                        <div class="form-group">
                            <label><span class="fas fa-user"></span>Correo</label>
                            <input class="form-control" id="correoInicioSesion" type="Email" placeholder="Ingrese Su Correo" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label><span class="fas fa-eye"></span>Contraseña</label>
                            <input type="password" class="form-control" id="contraseniaInicioSesion" placeholder="Ingrese Su Clave" />
                        </div>


                        <div class="container-fluid" style="text-align: left">
                            <div class="form-group" style="text-align: left">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <button type="button" style=" border-color:black ; color:red" id="btnIniciarSesion" class="btn btn-success"> Iniciar Sesion </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <input type="button" id="btMostraDialog" value="Registarse" style="border-color:black; color:red" />

                    </div>
                    <!--Fin Cuerpo Panel-->
                </div>
                <!--Fin Panel-->

            </div>

        </div>
        <!---->
    </form>
    <div id="divDialog" hidden>

        <form id="frmRegistrar" >
            @*Panel*@
            <div class="panel panel-primary"
                 style=" text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 110px;
        margin-right: 100px;
        margin-top: 15px">
                @*Encabezado Del Panel*@
                <div class="panel-heading">
                    <div class="row" style="display: flex">
                        <div style="margin-left: 10px; margin-top: 10px">

                            <div style="margin-bottom: 10px; padding-left: 40px; padding-right: 40px">
                                <h2 class="auto-style1">Registro Nuevo Usuario</h2>
                            </div>
                        </div>
                    </div>

                </div>
                @*Fin Encabezado Del Panel
                Cuerpo Del Panel*@
                <div class="panel-body" style="background-color: cyan; color:black">

                     @*Columnnas Del Panel*@
                    <div class="row" style="display: flex">
                         @*Primera Columnna Del Panel*@
                        <div class="column" style="flex: 50%; padding: 10px;">

                            <div class="form-group">
                                <label>Cedula:</label>
                                <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Ingrese la cédula" />

                            </div>

                            <div class="form-check">
                                <label>Genero:  </label>
                                <br />
                                <input type="radio" name="Genero" value="Femenino" class="form-check-input" /> Femenino
                                <br />
                                <input type="radio" name="Genero" value="Masculino" class="form-check-input" /> Masculino
                                <br />
                                <input type="radio" name="Genero" value="Indefinido" class="form-check-input" /> Indefinido
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="FechaNacimiento">Fecha Nacimiento:</label>
                                <input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" placeholder="Seleccione la fecha de nacimiento" />
                            </div>


                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" name="Nombre" id="Nombre" class="form-control" placeholder="Ingrese su nombre" />
                            </div>

                            <div class="form-group">
                                <label>Primer Apellido:</label>
                                <input type="text" name="Apellido1" id="Apellido1" class="form-control" placeholder="Ingrese el primer apellido" />
                            </div>

                            <div class="form-group">
                                <label>Segundo Apellido:</label>
                                <input type="text" name="Apellido2" id="Apellido2" class="form-control" placeholder="Ingrese el segundo apellido " />
                            </div>

                            <div class="form-group">
                                <label>Correo electrónico :</label>
                                <input type="text" name="correo" id="correo" class="form-control" placeholder="Ingrese el correo electónico" />
                            </div>

                            <div class="form-check">
                                <label>Tipo De Usuario:  </label>
                                <br />
                                <input type="radio" name="TipoUsuario" value="Cliente" class="form-check-input" /> Cliente
                                <br />
                                <input type="radio" name="TipoUsuario" value="Administrador" class="form-check-input" /> Administrador
                                <br />
                            </div>
                            <br />
                            <div class="form-group">
                                <label>Provincia:</label>
                                <select name="id_Provincia" id="id_Provincia" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label>Cantón:</label>
                                <select name="id_Canton" id="id_Canton" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label>Distrito:</label>
                                <select name="id_Distrito" id="id_Distrito" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label>Contraseña :</label>
                                <input type="password" name="Contrasenia" id="Contrasenia" class="form-control" placeholder="Ingrese una contraseña" />
                            </div>
                        </div>
                        @*Fin Cuerpo Panel*@
                    </div>
                    @*Fin Panel*@
                </div>
                
            </div>
        </form>

        <div class="form-group" style="text-align:center">
            <div class="col-md-10">
                <button style="color:black; margin-left:15%" id="btnInsertar" class="btn btn-success"> Registrar</button>
            </div>

            <br />
            <br />
            <button " id="btCerrar" class="btn btn-success">Cerrar ventana</button>
        </div>
    </div>
    <div id="EstadoInfo"></div>
    <div id="message"></div>

</body>
@section scripts{
    
    <script src="~/Scripts/jqueryui.js"></script>
    <script src="~/Scripts/Login/LoginPaginaPrincipal.js"></script>
    <script src="~/Scripts/Registarse/provinciasinsert.js"></script>
    <script src="~/Scripts/Registarse/registar.js"></script>

}





