@{
    ViewBag.Title = "PaginaPrincipal";
}
@section css{

    <link href="~/Content/SpriteCarouselPrincipal.css" rel="stylesheet" />
    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<br />
<h1 style="align-content:center" color:white"> BIENVENIDOS A LA PAGINA PRINCIPAL</h1>
<br />
<p style="align-content:center" color:white">SISTEMA DE CONTROL DE LAVADO Y MANTENIMIENTO DE VEHÍCULOS</p>
<body class="imagenFondo" align="center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="~/Usuarios/UsuarioNuevo">Insertar</a></li>
                                <li><a href="~/Usuarios/UsuariosLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehículos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Vehiculos/VehiculoNuevo">Insertar</a></li>
                                <li><a href="~/Vehiculos/VehiculosLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios y productos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/ServicioOProducto/ServicioOproductoNuevo">Insertar</a></li>
                                <li><a href="~/ServicioOProducto/ServicioOproductoLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tipo Vehiculo <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/TiposVehiculos/TipoVehiculoNuevo">Insertar</a></li>
                                <li><a href="~/TiposVehiculos/TiposVehiculosLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marca Vehiculos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/MarcaVehiculo/MarcaVehiculoNueva">Insertar</a></li>
                                <li><a href="~/MarcaVehiculo/MarcaVehiculoLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pais Fabricacion <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/PaisFabricante/PaisFabricacionNuevo">Insertar</a></li>
                                <li><a href="~/PaisFabricante/PaisFabricanteLista">Listar</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facturación <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Facturacion/EncabezadoFac">Lista Factura</a></li>
                                <li><a href="~/Facturacion/FacturaNueva">Nueva Factura</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/GridKendo/ServicioCliente">Servicio Cliente</a></li>
                                <li><a href="~/GridKendo/ServicioVehiculo">Servicio Vehiculo</a></li>
                                <li><a href="~/GridKendo/VehiculoCliente">Vehiculo Cliente</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <br /> <br />
    @* ingreso de carousel de videos *@

    <br />
    <br />
    <div class="container" id="divContenedorContenido" style="color:white">
        <div class="row" id="divRowContenido1" style="color:white">
            <!--Columna 1 -->
            <div class="col-sm-6" style="align-content:center">
                <iframe width="556" height="338" src="https://www.youtube.com/embed/KL_nsjG1TUo?autoplay=1&showinfo=0&controls=0&modestbranding=1"></iframe>

            </div>
            <!--Columna 2 -->
            <div class="col-sm-6" style="align-content:center">

                <div id="myCarousel" class="carousel-inner" data-ride="carousel">
                    <ol id="olCarousel" class="carousel-indicators">
                        <li data-target="myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="myCarousel" data-slide-to="1"></li>
                        <li data-target="myCarousel" data-slide-to="2"></li>
                        <li data-target="myCarousel" data-slide-to="3"></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <span class="sprite uno"></span>
                        </div>
                        <div class="item">
                            <span class="sprite dos"></span>
                        </div>
                        <div class="item">
                            <span class="sprite tres"></span>
                        </div>
                        <div class="item">
                            <span class="sprite cuatro"></span>
                        </div>

                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />

</body>

<footer style="text-align: center">
    <div class="container-fluid">
        <br />
        <p class="fa fa-map-marker" style="height: 20px">Direccion: Puriscal,San Jose</p>
        <br />
        <p class="fa fa-copyright" style="height: 20px">Todos los derechos resevados</p>
        <br />
        <p class="fa fa-cogs" style="height: 20px">DEVELOPERS</p>
        <br />
        <p class="fa fa-user" style="height: 20px">Manuel Arias </p>
        <br />
        <p class="fa fa-user" style="height: 20px">Daniel Díaz </p>
        <br />
    </div>
</footer>
