
@{
    ViewBag.Title = "PaginaPrincipal";
}
@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">

    <!--Panel-->
    <div class="panel panel-primary"
         style="        text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 40px;
        margin-right: 25px;
        margin-top: 15px">

        <!--Cuerpo Del Panel-->
        <div class="panel-body" style="background-color: aqua; color:black">

            <!-- Columnnas Del Panel-->
            <div class="row" style="display: flex">
                <!-- Primera Columnna Del Panel-->
                <div class="column" style="flex: 50%; padding: 10px;">


                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">

                            <div class="navbar-header" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                                        <ul class="dropdown-menu">

                                            <li class="dropdown-menu-right">
                                            <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navbar 1<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="Ejemplo1.html">Navbar 1</a></li>
                                            </ul>
                                            </li>


                                            <li><a href="Ejemplo1.html">Navbar 1</a></li>
                                            <li><a href="Ejemplo2.html">Navbar 2</a></li>
                                            <li><a href="Ejemplo3.html">Navbar 3</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-header" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehículos <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="Ejemplo1.html">Navbar 1</a></li>
                                            <li><a href="Ejemplo2.html">Navbar 2</a></li>
                                            <li><a href="Ejemplo3.html">Navbar 3</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-header" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios y productos <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="Ejemplo1.html">Navbar 1</a></li>
                                            <li><a href="Ejemplo2.html">Navbar 2</a></li>
                                            <li><a href="Ejemplo3.html">Navbar 3</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-header" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facturación <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="Ejemplo1.html">Navbar 1</a></li>
                                            <li><a href="Ejemplo2.html">Navbar 2</a></li>
                                            <li><a href="Ejemplo3.html">Navbar 3</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>




                </div>
                <!--Fin Cuerpo Panel-->
            </div>
            <!--Fin Panel-->

        </div>

    </div>


</body>