@model List<ProyeProgra6.Models.sp_RetornaDistritos_Result>
@{
    ViewBag.Title = "DistritosLista";
}

<h2> Lista de los Distritos </h2>

<table class="table">
    <tr>
        <th> Nombre Canton</th>
        <th>Nombre Distrito</th>
        <th>VC Estado</th>
        <th>distrito Inec</th>


    </tr>

    @{ foreach (ProyeProgra6.Models.sp_RetornaDistritos_Result posicionModelo
                  in this.Model)
        {
            <tr>
                <td>@posicionModelo.Canton</td>
                <td>@posicionModelo.nombre</td>
                <td>@posicionModelo.vc_Estado</td>
                <td>@posicionModelo.id_DistritoInec</td>

            </tr>
        }
    }
</table>


