@{
    ViewBag.Title = "FacturaNueva";
}

@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" />

}
<body class="imagenFondo">

    <form id="frmNuevaFactura" method="post">
        <!--Panel-->
        <div class="panel panel-primary"
             style=" text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 110px;
        margin-right: 100px;
        margin-top: 15px">
            <!--Encabezado Del Panel-->
            <div class="panel-heading">
                <div class="row" style="display: flex">
                    <div style="margin-left: 10px; margin-top: 10px">

                        <div style="margin-bottom: 10px; padding-left: 40px; padding-right: 40px">
                            <h2 class="auto-style1">Registro De Una Nueva Factura</h2>
                        </div>
                    </div>
                </div>

            </div>
            <!--Fin Encabezado Del Panel-->
            <!--Cuerpo Del Panel-->
            <div class="panel-body" style="background-color: cyan; color:black">

                <!-- Columnnas Del Panel-->
                <div class="row" style="display: flex">
                    <!-- Primera Columnna Del Panel-->
                    <div class="column" style="flex: 50%; padding: 10px;">

                        <div class="form-group">
                            <label>Nombre Usuario:</label>
                            <select name="idUsuario" id="idUsuario" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label>Placa Vehiculo:</label>
                            <select name="idVehiculo" id="idVehiculo" class="form-control"></select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="fecha">Fecha: </label>
                            <input type="text" name="fecha" id="fecha" class="form-control" value="" />
                        </div>

                        <div class="form-group">
                            <label>Monto Final:</label>
                            <input type="text" name="montofinal" id="montofinal" class="form-control" value="0" />
                        </div>

                        <div class="form-check">
                            <label>Estado Factura:  </label>
                            <br />
                            <input type="radio" name="EstadoFactura" value="Habilitada" class="form-check-input" /> Habilitada
                            <br />
                            <input type="radio" name="EstadoFactura" value="Inhabilitada" class="form-check-input" /> Inhabilitada
                            <br />
                        </div>
                        <br />

                        <div class="container-fluid" style="text-align: left">
                            <div class="form-group" style="text-align: left">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="Guardar" id="btnAceptar" class="btn btn-success" style=" border-color:black ; color:red" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <a style="color:darkblue" href="~/Facturacion/EncabezadoFac"> Lista de Facturas</a>

                    </div>
                    <!--Fin Cuerpo Panel-->
                </div>
                <!--Fin Panel-->


            </div>

        </div>
        <!---->
    </form>

</body>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jqueryui.js"></script>
    <script src="~/Scripts/Facturas/facturainsert.js"></script>
    <script src="~/Scripts/scriptGenerico.js"></script>
}


