
@{
    ViewBag.Title = "PaisFabricacionNuevo";
}

@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">
    <h2>Pais De Fabricacion Nuevo</h2>

    <form id="frmNuevaPais" method="post">
        <div class="form-group">
            <label>Codigo:</label>
            <input type="text" name="codigo" id="codigo" class="form-control" />
        </div>

        <div class="form-group">
            <label>Pais:</label>
            <input type="text" name="pais" id="pais" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" id="btnAceptar" />
        </div>
        <a href="~/PaisFabricante/PaisFabricanteLista"> Lista De Paises De Fabricacion</a>
    </form>

</body>
    @section scripts{
        @Scripts.Render("~/bundles/bundleJquery")
        <script src="~/Scripts/ValidacionesInserta/InsertPaisF.js"></script>

    }
