@model List<ProyeProgra6.Models.sp_RetornaPaísFabricante_Result>
@{
    ViewBag.Title = "PaisFabricanteLista";
}

@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">
    <h2> Lista Del Pais  De Fabricacion</h2>

    <table class="table">
        <tr>
            <th>Codigo</th>
            <th>Pais</th>
            <th>Acciones</th>


        </tr>

        @{ foreach (ProyeProgra6.Models.sp_RetornaPaísFabricante_Result posicionModelo
                            in this.Model)
            {
                <tr>
                    <td>@posicionModelo.Codigo</td>
                    <td>@posicionModelo.Pais</td>

                    <td>
                        <a href="~/PaisFabricante/ModificaPaisFabricacion?idPaisFabricante=@posicionModelo.idPaisFabricante">Modificar</a>
                        <br />
                        <a href="~/PaisFabricante/EliminaPaisFabricacion?idPaisFabricante=@posicionModelo.idPaisFabricante">Eliminar</a>

                    </td>

                </tr>
            }
        }
    </table>

</body>
    <a href="~/PaisFabricante/PaisFabricacionNuevo"> Registar Nuevo Pais De Fabricacion</a>
