
@*@model List<ProyeProgra6.Models.sp_RetornaServicioOProducto_Result>*@

@{
    ViewBag.Title = "ServicioOProductoLista";
}

<h2>ServicionoProductoLista</h2>


<table class="table">
    <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Tipo</th>
    </tr>

    @{ foreach (ProyeProgra6.Models.sp_RetornaServicioOProducto_Result posicionModelo
                   in this.Model)
        {
            <tr>
                <td>@posicionModelo.Codigo</td>
                <td>@posicionModelo.Descripción</td>
                <td>@posicionModelo.Precio</td>
                <td>@posicionModelo.Tipo</td>


            </tr>
        }
    }
</table>


